@page "/"
@page "/puzzle"

@using Maxyph.Data
@using Maxyph.Logic
@using System.Text.Json
@using static System.Net.WebRequestMethods

@inject HttpClient Http
@inject IJSRuntime JS

<main @onkeypress="ProcessKeyPress" @ref="MainTag">

    <h1>
        MAXYPH
    </h1>
    <button @onclick='() => JS.InvokeVoidAsync("toggleHowToPlay")'>How to play</button>
    <dialog id="how-to-play" @onclick='() => JS.InvokeVoidAsync("toggleHowToPlay")'>
        <p>
            Enter 6 valid 5 letter English words to complete the puzzle. Earn a point for each unique character in
            your
            solution.
        </p>
        <ul>
            <li>A character in an orange box cannot be changed. The first row value is provided, but further rows inherit the value from the word above them.</li>
            <li>Orange-boxed letters from previous rows cannot be reused.</li>
            <li>A maximum possible (theoretical) score is 25.</li>
            <li>You can surrender at any time and take the score of your current valid words.</li>
            <li>Have fun!</li>
        </ul>
    </dialog>
    <div class="puzzle">
        @foreach (var (row, wIndex) in Words.Select((x, i) => (x, i)))
        {
            <div class="row">
                <div class="word">
                    @if (wIndex == 0)
                    {
                        <div class="box whiteout">
                            <div>
                                @Score
                            </div>
                        </div>
                    }
                    @foreach (var (letter, lIndex) in row.Letters.Select((x, i) => (x, i)))
                    {
                        <div class="box @(letter.Locked ? "locked":"") @((WordIndex == wIndex && lIndex == LetterIndex) ?  "here":"" ) ">
                            <div>@letter.Value</div>
                        </div>
                    }
                    @if (wIndex == 5)
                    {
                        <div class="box whiteout">
                            <div>
                                <button class="inline end-game" @onclick="() => EndGame()">❌</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
    <div class="message">
        @StatusMessage
    </div>
    @if (PuzzleCompleted)
    {
        <div class="message">
            <button @onclick="() => GetCopyText()">Copy Score to clipboard</button>
        </div>
    }
    <div class="keyboard">
        @foreach (var letterRow in Keyboard)
        {
            <div class="key-row">
                @foreach (var letter in letterRow)
                {
                    <button class="key @(UsedLetters.Contains(letter) ? "used":"") @(LockedLetters.Contains(letter) ? "locked-letter":"") "
                            @onclick="() => { if (!LockedLetters.Contains(letter)){ ProcessKeyClick(letter);}}">
                        @{
                            if (letter == Enter)
                            {
                                <text>Enter</text>
                            }
                            else if (letter == Backspace)
                            {
                                <text>🔙</text>
                            }
                            else
                            {
                                @letter
                            }
                        }
                    </button>
                }
            </div>
        }
    </div>
    <a class="kofi-link" href="https://ko-fi.com/maxyph"> Buy us a Ko-fi</a>
    @*     <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
    <script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'X8X4TGANN'); kofiwidget2.draw();</script> *@
</main>

@code {

    private ElementReference MainTag;
    private ElementReference HowToPlay;

    private List<Word> Words = new();
    private Word PuzzleStart = new();
    private List<string> ValidWords = new();
    private List<char> UsedLetters = new();
    private List<char> LockedLetters = new();
    private int WordIndex = 0;
    private int LetterIndex = 0;
    private bool PuzzleCompleted = false;
    private string puzzleId = "";

    private char Backspace = '←';
    private char Enter = '→';

    private string StatusMessage = string.Empty;
    private int Score = 0;
    private List<List<Char>> Keyboard = new() {
        { new () {'q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p'} },
        { new () {'a', 's', 'd', 'f', 'g', 'h', 'j', 'k', 'l', ' '} },
        { new () { '→', 'z', 'x', 'c', 'v', 'b', 'n', 'm', '←'} },
        };

    protected override async Task OnInitializedAsync()
    {
        var wordstxt = await Http.GetStringAsync("Data/Words.txt");
        ValidWords = wordstxt.Split('\n').Select(x => x.Trim()).ToList();

        await LoadTodaysPuzzle();

        //await MainTag.FocusAsync();

        StateHasChanged();

        await Task.CompletedTask;
    }

    protected async Task<bool> LoadTodaysPuzzle()
    {
        puzzleId = DateTime.Now.ToString("yyyy-MM-dd");
        var storedPuzzle = await JS.InvokeAsync<string>("loadFromStorage", $"puzzle-{puzzleId}");
        PuzzleData puzzle = null;
        if (storedPuzzle != null)
        {
            puzzle = JsonSerializer.Deserialize<PuzzleData>(storedPuzzle);
        }
        else
        {
            puzzle = await Http.GetFromJsonAsync<PuzzleData>("https://u2qy92og0i.execute-api.us-west-2.amazonaws.com/puzzle");
            //puzzle = await Http.GetFromJsonAsync<PuzzleData>("Data/DailyPuzzle.json");
        }

        this.puzzleId = puzzle.puzzle.date;
        var puzzleInProgress = false;

        foreach (var row in puzzle.puzzle.data)
        {
            var nextWord = new Word();
            if (row.letter.Length > 1)
            {
                puzzleInProgress = true;
                nextWord.Letters = row.letter.ToArray().Select(x => new Letter { Locked = false, Value = x }).ToList();
            }
            else
            {
                nextWord.SetLetterAtPosition(row.lockIndex, row.letter.ToLower().FirstOrDefault());
            }
            nextWord.LockLetter(row.lockIndex);
            Words.Add(nextWord);
            ProcessLetter(' ');

        }

        if (puzzleInProgress)
        {
            WordIndex = Words.FindLastIndex(x => x.Letters.Any(x => char.IsLetter(x.Value)));
            UsedLetters = Words.Take(WordIndex).SelectMany(x => x.Letters.Select(z => z.Value).Where(z => char.IsLetter(z))).ToList();
            LockedLetters = Words.Take(WordIndex).SelectMany(x => x.Letters.Where(y => y.Locked).Select(z => z.Value).Where(z => char.IsLetter(z))).ToList();
            Score = CalcScore();
        }
        if (WordIndex >= 5 && Words[WordIndex].Letters.All(x => char.IsLetter(x.Value)))
        {
            ProcessLetter(Enter);
        }
        else
        {
            ProcessLetter(' ');
            await JS.InvokeVoidAsync("saveToStorage", $"puzzle-{puzzleId}", JsonSerializer.Serialize(Word.ToPuzzleData(Words)));
        }
        StateHasChanged();

        return true;
    }

    protected bool IsWordValid(Word word)
    {
        var lockedWords = Words.Take(WordIndex).Select(x => x.ToString());
        StatusMessage = "";
        if (lockedWords.Contains(word.ToString()))
        {
            StatusMessage = "You cannot use a word from a previous row";
            return false;
        }
        if (ValidWords.Contains(word.ToString().ToLowerInvariant()))
        {
            return true;
        }
        else
        {
            StatusMessage = "Not a valid word";
            return false;
        }
    }

    protected void ProcessLetter(char keyHit)
    {
        if (keyHit == Backspace)
        {
            var currentLetter = Words[WordIndex].Letters[LetterIndex];
            if (currentLetter.Value != ' ' && !currentLetter.Locked)
            {
                currentLetter.Value = ' ';
            }
            else
            {
                LetterIndex = Math.Max(0, Math.Min(5, LetterIndex - 1));
            }
            var newLetter = Words[WordIndex].Letters[LetterIndex];
            if (newLetter.Locked)
            {
                LetterIndex = Math.Max(0, Math.Min(5, LetterIndex - 1));
            }
        }
        else if (keyHit == Enter)
        {
            var word = Words[WordIndex];
            if (IsWordValid(word))
            {
                WordIndex++;
                LetterIndex = 0;
                Score = CalcScore();

                var newWord = Words.ElementAtOrDefault(WordIndex);
                if (newWord != null)
                {
                    var lastWord = Words.ElementAtOrDefault(WordIndex - 1);
                    var lockedIndex = newWord.Letters.FindIndex(x => x.Locked);
                    var lockedParent = lastWord.Letters.ElementAtOrDefault(lockedIndex);
                    if (lockedParent != null)
                    {
                        newWord.Letters[lockedIndex].Value = lockedParent.Value;
                    }
                }

                if (WordIndex >= 6)
                {
                    StatusMessage = "You have completed the puzzle! Your score is " + Score;
                    PuzzleCompleted = true;
                    StateHasChanged();
                    JS.InvokeVoidAsync("saveToStorage", $"puzzle-{puzzleId}", JsonSerializer.Serialize(Word.ToPuzzleData(Words)));
                    return;
                }
                UsedLetters = Words.Take(WordIndex).SelectMany(x => x.Letters.Select(z => z.Value).Where(z => char.IsLetter(z))).ToList();
                LockedLetters = Words.Take(WordIndex).SelectMany(x => x.Letters.Where(y => y.Locked).Select(z => z.Value).Where(z => char.IsLetter(z))).ToList();
            }
            JS.InvokeVoidAsync("saveToStorage", $"puzzle-{puzzleId}", JsonSerializer.Serialize(Word.ToPuzzleData(Words)));
        }
        else
        {
            if (char.IsAsciiLetter(keyHit))
            {
                if (LetterIndex <= 5 && !Words[WordIndex].Letters[LetterIndex].Locked)
                {
                    Words[WordIndex].Letters[LetterIndex].Value = keyHit;
                    LetterIndex = Math.Min(LetterIndex + 1, 4);
                }
            }
        }

        var nextLetter = Words[WordIndex].Letters[LetterIndex];
        if (nextLetter.Locked)
        {
            LetterIndex = Math.Min(LetterIndex + 1, 4);
        }
        CalcScore();
        StateHasChanged();
    }

    private void ProcessKeyPress(KeyboardEventArgs e)
    {
        ProcessLetter(e.Key.FirstOrDefault());
    }

    private void ProcessKeyClick(char key)
    {
        ProcessLetter(key);
    }

    private void EndGame()
    {
        StatusMessage = "You have surrendered. Your score is " + Score;
        PuzzleCompleted = true;
        StateHasChanged();
    }

    private int CalcScore()
    {
        var letters = Words.SelectMany(x => x.Letters.Select(z => z.Value).Where(z => char.IsLetter(z)));
        var total = new HashSet<char>(letters);
        return total.Count;
    }

    private void GetCopyText()
    {
        // Large Orange Diamond - U+1F536
        // Large Blue Diamond - U+1F537
        // Lock (Closed Lock) - U+1F512
        // Locked with Key - U+1F510

        //var a = Convert.ToInt32("\U0001F536", 16);
        var OrangeDiamond = "\U0001F536";
        var BlueDiamond = "\U0001F537";
        var Locked = "\U0001F512";
        var LockedWithKey = "\U0001F510";

        var seenLetters = new HashSet<char>() { '\0' };

        var output = Words.Select((x, i) =>
        {
            var wordRow = x.Letters.Select(z =>
            {
                if (z.Locked)
                {
                    seenLetters.Add(z.Value);
                    if (i == 0)
                    {
                        return LockedWithKey;
                    }
                    else
                    {
                        return Locked;
                    }
                }
                if (seenLetters.Contains(z.Value))
                {
                    return BlueDiamond;
                }
                else
                {
                    seenLetters.Add(z.Value);
                    return OrangeDiamond;
                }
            });
            return string.Join("", wordRow) + "\n";
        });
        var scoreCopy = $"Maxyph Puzzle\n{DateTime.Now.ToString("ddd MMM d")}\nMy Score: {Score}\n{string.Join("", output)}";
        JS.InvokeVoidAsync("copyText", scoreCopy);
    }
    /*
    * Ashley Feedback:
    * The new colors are not great. Harder on the eyes
    * The blacked out used letter I also don't personally like
    * I didn't realize the x was a surrender.... hate that
    * If you keep typing it doesn't stop you after surrender
    */
}
